<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/stylesheets/style.css'>

</head>
<body>
<div>
<nav class="navbar navcolor">
    <div class="container">
        <h1><a class="navbar-brand">Calculator Application</a></h1>
    </div>
</nav>
</div>
<div class="container">
    <div class="" style="margin-top: 5px">
        <main th:include="${view}"></main>
    </div>
</div>
</body>
</html>
